body {
    margin: 0;
    display: flex;
    flex-direction: column;

    /* font-family: sans-serif; */
}

/* *{ border: 1px solid red; } */
header,
footer {
    background-color: #1F2937;
}

header {
    padding-bottom: 100px;
}

.header-wrapper {
    margin: 0 120px 0 120px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
}

.header-main {
    display: flex;
}
.header-title{
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;

    padding-top: 60px;
    width: 420px;
    margin-bottom: 0;
}

.header-text,
.header-links a {
    color: #E5E7EB;
    font-size: 18px;

    text-decoration: none;
}

.header-text {
    width: 420px;
    display: flex;
    flex-direction: column;
}

.logo-links {
    display: flex;
    justify-content: space-between;
    padding-top: 18px;
}

.header-links {
    display: flex;
    /* flex: 1 1 auto; */
    gap: 40px;

    align-items: center;
}

.header-signup {
    width: 138px;
    background-color: #3882f6;
    padding: 8px 29px 8px 29px;
    border: none;
    border-radius: 7px;
    color: white;
    font-weight: 900;
    font-size: inherit;
    margin-top: 10px;
}

.header-img {
    width: 539px;
    height: 255px;

    padding-left: 81px;
    padding-top: 85px;
}

.content-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

.main-images-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 77px;
}

.main-images {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 146px;
}

.main-images p {
    margin-top: 8px;
    font-family: Arial;
    color: #525151;
}

.main-image {
    width: 130px;
    height: 130px;
    border: 3px solid #3882f6;
    border-radius: 10px;
}

.main-quote {
    background-color: #E5E7EB;
    height: 340px;
    display: flex;
    flex-direction: column;
    padding-left: 266px;
    padding-right: 267px;
    justify-content: center;
}

.text-quote {
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    margin-bottom: 0;
}

.author-quote {
    display: flex;
    justify-content: flex-end;
    margin-top: 0;
    font-weight: 900;
    font-size: 18px;
}

.cta {
    display: flex;
    justify-content: center;
    margin-top: 55px;
    margin-bottom: 55px;
}

.cta-container {
    display: flex;
    flex-direction: row;
    background-color: #3882F6;
    align-items: center;
    justify-content: space-evenly;
    width: 850px;
    height: 120px;
    border-radius: 10px;
}

.cta-title {
    color: #F9FAF8;
    font-weight: 900;
    font-family: arial;
    font-size: 24px;
    margin-bottom: 0;
}

.cta-text {
    color: #F9FAF8;
    font-family: arial;
    font-weight: 600;
    margin-top: 4px;
}

.cta-button {
    background-color: #3882f6;
    padding: 8px 29px 8px 29px;
    border-radius: 7px;
    color: white;
    font-weight: 900;
    font-size: inherit;
    border: solid 2px white;
}

footer {
    margin-bottom: 0px;
}
